.app-sidebar {
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;
    background: #1F1F23;
  }
  
  .app-sidebar-Change-Button{
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #08c;
    align-items: center;
    text-align: center;
    margin-left: 15%;
  }
  
  
  .app-sidebar-Add-Button{
      background: none;
      border: 0;
      margin: right 10px;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      cursor: pointer;
      color: #08c;
  }
  
  
  .app-sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  .app-sidebar-header h1 {
    margin: 0;
  }
  
  .app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
  }
  .app-sidebar-note {
    padding: 25px;
    cursor: pointer;
  }
  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
  }
  .app-sidebar-note button {
    color: crimson;
  }
  .app-sidebar-note p {
    margin: 10px 0;
  }
  .app-sidebar-note small {
    display: block;
    color: #999;
  }
  
  .app-sidebar-note:hover {
    background: #464648;
  }
  .app-sidebar-note.active,
  .app-sidebar-note.active small {
    background: #18181B;
    color: white;
  }