.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
  background: #1F1F23;
}

.app-sidebar-Change-Button{
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  align-items: center;
  text-align: center;
  margin-left: 15%;
}

<<<<<<< HEAD

.app-sidebar-Add-Button{
    background: #0088cc;
    border: 1px #0088cc solid;
    border-radius: 15px;
    margin: right 10px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #dddddd;
    padding: 15px;
    transition-duration: .6s;
}

.app-sidebar-Add-Button:hover{
    background-color: #dddddd; /* Green */
    color: #0088cc;
=======
input {
  width: 90%;
  margin-left: 2%;
}

.app-sidebar-Add-Button{
    background: none;
    border: 0;
    margin: right 10px;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #08c;
    padding: 15px;
>>>>>>> origin/main
}


.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #464648;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #18181B;
  color: white;
}