.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
  background: #1F1F23;
}

.app-sidebar-Change-Button{
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  align-items: center;
  text-align: center;
  margin-left: 15%;
}


input {
            width: 90%;
            margin-left: 2%;
        }

.editButton{
  background: #22A7F0;
  border: 1px #22A7F0 solid;
  background:none;
  border-radius: 10px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #dddddd;
  padding: 10px;
  transition-duration: .6s;
}

.editButton:hover{
    background-color: #dddddd;
    color: #4CAF50;
}


.app-sidebar-Add-Button{
    background: #2ECC71;
    border: 1px #2ECC71 solid;
    background:none;
    border-radius: 15px;
    margin: right 10px;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #dddddd;
    padding: 15px;
    transition-duration: .6s;
}

.app-sidebar-Add-Button:hover {
    background-color: #dddddd;
    color: #0088cc;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #464648;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #18181B;
  color: white;
}